/* .modal-create-post{
    position: absolute;

    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(128, 128, 128, 0.525);
} */